[submodule "Tkinter Theme"]
	path = Tkinter Theme
	url = https://github.com/tywil04/tkinter-theme
[submodule "minimal-tkinter"]
	path = minimal-tkinter
	url = https://github.com/tywil04/minimal-tkinter
